---
permalink: "/contact/"
layout: default
title: Contact
---

<link rel="stylesheet" href="/css/leaflet.css">
<script defer src="/js/external/leaflet.js"></script>

<div class="container text-light">
  <p>
    Come visit us at the corner of Alpha and Beta in downtown City, or give us a call at 555-555-5555.
  </p>

  <p>
    123 Alpha St. <br />
    City, ST 12345
  </p>
  <div id="mapid"></div>

</div>

<script defer src="/js/contact.js"></script>