---
layout: default
title: Home
---

<div class="container">

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          {% responsive_image path: images/unsplash-diamond-ring-stack.jpg %}
        </div>
        <div class="carousel-item">
          {% responsive_image path: images/pexels-accessory-beads-black-and-white-908183.jpg %}
        </div>
        <div class="carousel-item">
          {% responsive_image path: images/pexels-accessory-amethyst-birthstone-371102.jpg %}
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</div>

<div class="container text-light">
  <h1><em>Welcome to Porter Custom Jewelry!</em></h1>
  <p>We pride ourselves on our quality workmanship, attention to detail, exceptional customer service, and affordable prices. Whether you need an engageent ring, a Mother's Day gift, or something for that special someone, we can help you find what you need.</p>
</div>

<script defer src="/js/index.js"></script>



