<nav class="navbar navbar-expand-sm navbar-dark text-light">
  <a class="navbar-brand" href="/"><img class="img-fluid" src="/images/diamond_no_background_small.png"></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a id="Home" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a id="Services" class="nav-link" href="/services/">Services</a>
      </li>
      <li class="nav-item">
        <a id="About" class="nav-link" href="/about/">About</a>
      </li>
      <li class="nav-item">
        <a id="Contact" class="nav-link" href="/contact/">Contact</a>
      </li>
    </ul>
  </div>
</nav>