<!doctype html>
<html>

  {% include head.html %}

  <script defer src="/js/external/jquery-3.3.1.min.js"></script>
  <script defer src="/js/external/bootstrap.bundle.min.js"></script>
  <script defer src="/js/external/jquery.bcSwipe.min.js"></script>
  <script src="/js/external/lazysizes.min.js" async=""></script>

  <body class="bg-dark">
    {% include navbar.html %}

    {{ content }}


    {% include footer.html %}
    
    <script>
      document.getElementById("{{ page.title }}").classList.add("active");
    </script>
  </body>
</html>